<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="d-flex flex-column min-vh-100">

    {% include 'includes/navbar.html' %}
    {% include 'includes/messages.html' %}

    <div class="container mt-5 text-center">

        <h1 class="mb-4">Welcome to MindFort!</h1>

        <p class="lead">
            MindFort is designed to help you recognize and counter misinformation.
            Strengthen your critical thinking and expand your knowledge through engaging conversation.
        </p>

        <hr class="my-4">

        <p class="text-start" style="max-width:1200px; margin: 0 auto; font-size: 1.1rem;">
    
            When you click the "Get Started" button below, you will enter a simulated conversation between a <strong>conversant </strong>and <strong>two bots</strong>.
            One of them is <strong>Marty</strong>, a bot that spreads misinformation. The other is <strong>Forty</strong>, that adopts one of three possible roles below:
            <br><br>
            <div class="container text-center mt-1">
                <div class="row justify-content-center shadow-sm p-2 rounded" style="background-color: #ffffff;">
                    
                    <div class="col-md-4 mb-4">
                        <img src="{{ url_for('static', filename='img/support.png') }}" 
                        
                            alt="Supportive Bot" 
                            class="rounded mb-3 img-fluid"
                            style="max-width: 200px; height: auto;">
                        <div>
                            <strong>Supportive:</strong> Supports the conversant’s original opinion and encourages them
                            to trust reliable information.
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <img src="{{ url_for('static', filename='img/refute.png') }}" 
                            alt="Refutational Bot" 
                            class="rounded mb-3 img-fluid"
                            style="max-width: 200px; height: auto;">
                        <div>
                            <strong>Refutational:</strong> Responds to false claims by correcting them using clear facts,
                            evidence and logical explanations.
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <img src="{{ url_for('static', filename='img/prebunk.png') }}" 
                            alt="Prebunking Bot" 
                            class="rounded mb-3 img-fluid"
                            style="max-width: 200px; height: auto;">
                        <div>
                            <strong>Prebunking:</strong> Warns and educates the conversant before misinformation appears, identifies
                            the misinformation technique used by Marty, and explains why the claim is misleading or false.
                        </div>
                    </div>

                </div>
            </div>

            <br><br>
            <strong>Your task is to follow the conversation closely. At the end, you will be asked to identify Forty's role and reflect on the conversation.</strong>
        </p>

        <div class="mt-4">
            <a href="{{ url_for('assign_condition') }}" class="btn btn-primary btn-lg me-3" style="margin-bottom: 30px;">Get Started</a>
        </div>

    </div>

</body>

{% include 'includes/footer.html' %}

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>
